@import './base.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

h2 {
  text-align: center;
  margin-bottom: 5em;
}

p {
  font-weight: bold;
}

.big-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-title {
  font-weight: bold;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  
}

.title {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.article-box {
  background-color: whitesmoke;
  color: black;
  padding: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.article-box:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.article-image {
  width: 20em;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}
