@import './base.css';

/* tags */
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
  margin-bottom: 2em;
}

p {
  font-weight: bold;
}

/* classes */
.big-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #9f9f9f;
}

.article-title {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1.5em;
  word-wrap: break-word;
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
  text-align: left;
}

.article-box {
  display: inline-block;
  color: #ffc300;
  padding-bottom: 0;
  padding: 15px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border-radius: 15px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 25em;
  max-width: 25em;
  min-height: 30em;
  max-height: 30em;
  background-color: #001d3d;
  margin: 10px;
  transition: all 0.3s ease;
}

.article-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: baseline;
}

.article-footer {
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: center;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  border: 2px #000814 solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 0;
  padding-bottom: 0px;
}

.article-cati,
.article-created-at {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 2px solid #000814;
  padding: 5px;
  padding-bottom: 0;
  justify-content: center;
  width: 33%;
}

.ico-img {
  width: 2em;
}

.footer-text {
  display: flex;
}

.article-time-to-read {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  width: 33%;
}

.cati-text {
  color: #ffc300;
  height: 50%;
}

.home-back {
  display: flex;
  justify-content: center;
  margin: 15px;
  align-items: center;
  text-align: center;
}

.credit-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-left: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: #001d3d;
  height: 5em;
}

.credit-text {
  color: white;
}

/* IDs */
#title-box {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.article-box:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.daily-verse-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
  padding: 10px;
}

a,
.green {
  text-decoration: none;
  margin: 5px;
  color: white;
  transition: 0.4s;
}

.daily-verse {
  background-color: #313131;
  border: 5px solid white;
  padding: 10px;
  border-radius: 10px;
}

.article-image {
  width: 22em;
  height: 15em;
  border: 2px solid #ffd60a;
  border-radius: 15px;
  object-fit: cover;
  max-height: 15em;
}

#search {
  display: flex;
  justify-content: baseline;
  padding: 10px;
  align-items: baseline;
}

#Search-Bar {
  background-color: #001d3d;
  height: 2.5em;
  border: none;
  color: white;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

#Search-Bar::placeholder {
  color: white;
}

#p-flex {
  display: flex;
  align-items: start;
  justify-content: start;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  h1,
  h2 {
    font-size: 25px !important;
    text-align: center !important;
  }

  .Abo-nav {
    width: 4em !important;
    font-size: 25px !important;
  }

  a {
    font-size: 2em !important;
    text-align: center !important;
  }

  #text,
  #par2,
  #par3,
  #par4,
  #par5,
  #par6 {
    margin: 2em;
    font-size: 1em !important;
  }

  .article-image {
    width: 10em !important;
    height: 5em !important;
  }

  #topics-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px;
  }

  .nav-text {
    color: white;
  }

  button {
    border-radius: 500px;
    padding: 10px;
    margin: 5px;
    border: none;
    color: white;
    text-align: center;
    transition: 0.2 all ease;
    background-color: #33415c;
  }

  button:hover {
    filter: brightness(50%);
  }

  .selected-button {
    background-color: #ffd60a !important;
    color: black;
  }

  button:hover {
    cursor: pointer;
  }

  #buttons-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .article-p {
    font-size: 16px !important;
  }

  .title {
    font-size: 20px !important;
  }

  .route {
    font-size: 16px !important;
  }

  .article-title {
    font-size: 24px !important;
  }

  img {
    width: 15em !important;
  }

  .ico-img {
    width: 1.8em !important;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
