@import './base.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

h2 {
  text-align: center;
  margin-bottom: 5em;
}

p {
  font-weight: bold;
}

.big-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:#9F9F9F;
}

.article-title {
  font-weight: bold;
  border-bottom: 2px solid #9F9F9F;
  margin-bottom: 10px;
  
}

.title {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.article-box {
  color: #9F9F9F;
  padding: 15px;
  margin: 10px;
  transition: all 0.3s ease;
}

.article-box:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.article-image {
  width: 20em;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}


@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    padding: 0 2rem;
  }
}
